<!-- navbar -->
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Gavin Kim</a>
    </div>
    <ul class="nav navbar-nav navbar-browser hidden-xs">
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-mobile hidden-sm hidden-md hidden-lg">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown"
           role="button">
          <span class="glyphicon glyphicon-list"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/about">About</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="container-fluid breadcrumb hidden-xs">
    <div class="container">
      <!-- breadcrumb -->
      <div id="breadcrumb"></div>
    </div>
  </div>
</nav>




