<section class="container" id="about">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <br>
  <h3 class="about-description">
    Hello My name is Gavin Kim and I am a software developer. <br><br>
    I graduated in Computer Programming from Sheridan College and I learned
    developing front end and back end Java web application while i am studying
    in the school. I love code with great passion and I get a lot of enjoyment
    out of learning new technologies and applying it to my personal project.
  </h3>
</section>
<footer>
  <!-- icons -->
</footer>